body{
    font-family: "Roboto Mono", 
    monospace;
    text-align: center;
    padding: 0px;
}
header{
    background-color: darkgray;
    color:rgb(161, 85, 190);    
}
section{
    height: 250px;
    padding: 30px;
}
footer{
    background-color: darkgray;
    color:black
}
button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
